In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as seconds_in_a_day
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier,GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import f1_score
from sklearn.metrics import classification_report, confusion_matrix
import warnings
import pickle
from scipy import stats
warnings.filterwarnings('ignore')
plt.style.use('fivethirtyeight')

In [ ]:
data-pd.read_csv("Data_Train . xlsx")
data.head()

In [ ]:
for i in category:
print(i, data[i].unique())

In [ ]:
#e now split the Date col umn to extract the 'Date', Month' and Year' values, and store them in new columns in our dataframe.
data.Date_of_Journey-data.Date_of_Journey. str.split("/")
data.Date_of_Journey

In [ ]:
#Treating the data_column
data['Date']=data.Date_of_Journey. str[e]
data['Nonth' ] =data.Date_of_Journey.str[1)
data['Year']-data. Date_of_Journey. str [2]

In [ ]:
data.Total Stops.unique()
array(['no0-stop', "2 stops', '1 stop', '3 stops', '4 stops'),
dtype-dbject)

In [ ]:
#Since the maximum number of stops is 4, there should be maximum 6 cities in any particular route. Ne split the data in route col
data.Route-data.Route.str.split(')
data.Route

In [ ]:
data[ Cityl' J-data.Route .str[o]
data[ 'City2 ]-data.Route.str[1]
data[ City3']-data. Route.str[2]
data['City4 ]-data.Route.str [3)
datal 'Citys' ]-data.Route.str[4]
data[ Cityő' J-data.Route.str[5]

In [ ]:
#In the similor manner, we split the Dep tine columm, ond create separote columns for departure hours and minutes
data.Dep_Tine-data.Dep_Tine. str.split(':")

In [ ]:
data.Dep Tine-data.Dep Tine. str. split(:")
data( Dep_Tine Hour' ]-data. Dep_Tine.str[o]
datal 'Dep_Time Mins' ]-data.Dep_Tine.str[1]

In [ ]:
data.Arrival Tine=data .Arrival _Tine.str.split(" ")

In [ ]:
data[ 'Arrival date']-data.Arrival_ Time.str[1]
data["Tine_of_Arrival' ]-data.Arrival_Time. str[0]

In [ ]:
data['Time_of _Arrival' ]-data. Time_of_Arrival.str.split(': ")

In [ ]:
data['Arrival_Tine_Hour' ]-data. Time_of_Arrival.str[8]
data['Arrival_Time_Mins']-data. Time_of_Arrival.str[1]

In [ ]:
#Next, we divide the 'Duration' column to Travel_hours' and Travel mins
data.Duration=data. Duration. str. split(' ")

In [ ]:
data['Travel_ Hours']=data. Duration.str[0]
dataf'Travel Hours' ]=data['Travel Hours' ].str.split('"h')
datal'Travel Hours']-data['Travel_ Hours'].str[0]
data.Travel Hours-data .Travel Hours
data["Travel Mins']-data.Duration.str[1]
data. Travel Mins-data. Travel_Mins.str.split('n')
data.Travel Mins-data.Travel_ Mins.str[0]

In [ ]:
#we also treat the Total_stops' column, and replace non-stop flights with value and extract the integer part of the 'Total_ St
data.Total_Stops.replace('non_stop',0, inplace=True)
data.Total _Stops-data. Total

In [ ]:
#we also treat the Total stops' column, and replace non-stop flights with 8 value and extract the integer part of the 'Total_ Stu
data. Total Stops.replace('non_ stop",0,inplace-True)
data. Total _Stops=data. Total _Stops.str.split(" ')
data.Total_ Stops-data. Total_ Stops.str[0]

In [ ]:
data.Aditional Info.unique()

In [ ]:
data.Additional Info.replace( 'No Info', 'lo info', inplace-True)

In [ ]:
data.isnull() .sum()

In [ ]:
#we also drop some columns Like city6' and city5', since majority of the data in these columns was NaN(nulL)
data.drop(['City4', 'City5', ' City6'], axis=1, inplace-True)

In [ ]:
data.drop(['Date of_Journey', 'Route','Dep_Time', 'Arrival_Time', 'Duration '] , axis=1, inplace=True)
data.drop(['Time_of_Arrival'], axis-1, inplace-True)

In [ ]:
#Checking NuLL Values
data.isnull() .sum()

In [ ]:
#filling City3 as None, the missing values are Less
data( City3' ].fillna('lone', inplace-True)

In [ ]:
#filling Arrival Date as Departure Date
data['Arrival date'].fillna (data[ ' Date'], inplace-True)

In [ ]:
#filling Travel_ Mins os Zero(0)
data('Travel ins'].fillna(8, inlace- True)

In [ ]:
data.info()

In [ ]:
#changing the numerical columns from object to int
#data. Total_Stops=data. Total_ Stops.astype("int64')
data.Date-data. Date.astype(" int64')
data.Month=data. Month. astype('int64')
data.Year=data. Year.astype(' int64')
data.Dep_Time_Hour-data.Dep_Time Hour.astype('int64')
data.Dep_Time_Hour-data . Dep_Time Hour.astype('int64')
data.Dep_Time Mins=data . Dep_Time Mins.astype('int64')
data.Arrival date-data.Arrival date.astype("int64")
data.Arrival _Time Hour-data.Arrival_Time Hour. astype(' int64')
data.Arrival_Time_ Mins-data .Arrival _Time Mins.astype('int64')
#data. Travel Hours=data. Travel Hours.as type (' int64')
data.Travel_ Mins-data. Travel_Mins. astype(' int64')

In [ ]:
data[data[ "Travel Hours' ]= Sn']

In [ ]:
data.(drglirder-8t7,İnplace- ne,adis-t)

In [ ]:
data.Travel Hours-data.Travel Hours.astyge('intó4')

In [ ]:
Creoting List of Different types of coluns
categorical=['Airline','Source', "Destination','Additional Info', Cityl']
numerical-( Total Stops', Date", Wonth', 'Year', Dep Tine Hour', Dep Tine_ Mins', 'Arrival date', 'Arival Tine Hour',
'Arrival Tine áns',' Travel Hours', Travel Mins']

In [ ]:
from sklearn. preprocessing import LabelEncoder
le-LabelEncoder()

In [ ]:
data.Airline-le. fit transform(data .Airline)
data.Source=le.fit transform(data. Source)
data.Destination=le . fit_transform(data . Destination)
data.Total_Stops=le .fit_transform(data. Total_Stops)
data.City1=le.fit_transform(data . City1)
data.City2-le. fit_transform(data .City2)
data.City3-le. fit_transform(data. City3)
data.Additional_Info-le. fit_transform(data .Additional_Info)
data.head()

In [ ]:
data.head()

In [ ]:
data = data[['Airline', 'Source', 'Destination', 'Date', 'Honth', 'Year', 'Dep_Time Hour', 'Dep_Time Mins', 'Arrival_date', 'Arrival_Tir
data.head()

In [ ]:
data.head()

In [ ]:
#plotting Countplots for Categorical Data
import seaborn as sns
C=1
plt.figure(figsize- (28,45))
for i in categorical:
plt.subplot (6,3, c)
sns.countplot (data[i])
plt.xticks (rotation=90)
plt.tight_layout (pad=3.0)
C=C+1
plt.show()

In [ ]:
#Distribution of PRICE' Col umn
plt.figure(figsize- (15,8))
sns.distplot (data . Price)

In [ ]:
sns.heatmap (data.corr (), annot-True)

In [ ]:
# Detecting the Outliers
import seaborn as sns
Sns.boxplot (data['Price'])

In [ ]:
y = data['Price']
x = data.drop(columns-[' Price'], axis=1)

In [ ]:
### Scaling the Data

In [ ]:
from sklearn . preprocessing import StandardScaler
ss-StandardScaler()

In [ ]:
x_scaled =- Ss.fit_transform(x)

In [ ]:
x_Scaled = pd.DataFrame(x_scaled, columns=X. columns)
X_scaled.head()

In [ ]:
from sklearn.model selection import train test split
x_train, x_test,y_train,y_test-train test_split(x,y, test size=0.2, random_ state-42)

In [ ]:
x_train.head()

In [ ]:
from sklearn .ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
rfr=RandomForestRegressor ()
gb-Gradient BoostingRegressor()
ad-AdaBoostRegressor )

In [ ]:
from sklearn .metrics import r2_ score, mean_absolute_ error, mean_ squared_eror
for i in [rfr,gb, ad]:
i.fit(x_train,y_train)
Y_pred=i.predict (x_test)
test_score=r2_score (y_test,y_pred)
train_score=r2_score (y_train, i.predict (x_train) )
if abs(train_score-test_score)<=0.2:
print (i)
print ("R2 score is",r2_score(y_test,y_pred) )
print("R2 for train data", r2_score (y_train, i.predict(x_train)))
print("Mean Absolute Error is",mean_absolute _error(y_pred, y_test) )
print("Mean Squared Error is", mean_squared_error (y_pred, y_test))
print("Root Mean Sqaured Error is", (mean_squared_error (y_pred,y_test, squared=False)))

In [ ]:
from sklearn. neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.tree import DecisionTree Regressor
from sklearn.metrics import r2_score, mean_absolute_error, mean _squared error
knn-KNeighborsRegressor ()
svr=SVR()
dt-DecisionTreeRegressor ()
for i in [knn, svr,dt]:
i.fit(x_train,y_train)
y_pred=i.predict(x_test)
test _score=r2_score(y_test,y_pred)
train_score=r2_score(y_train, i.predict (x_train))
if abs(train_score-test_score)<=0.1:
print(i)
print("R2 Score is',r2_score(y_test, y_pred)
print('R2 Score for train data', r2_score(y_train, i.predict (x_train) ))
print('Me an Absolute Error is', mean_absolute_error(y_test,y_pred) )
print('Me an Squared Error is',mean _squared_error(y_test,y_pred) )
print('Root Mean Squared Error is', (mean_squared_error(y_test,y_pred, squared-False) ))

In [ ]:
from sklearn.model selection inport cross_val_score
for i in range (2,5):
cV=Cross_val _score (rfr,X,y, cv=i)
print(rfr, cV.mean())

In [ ]:
from sklearn .model_selection import RandomizedSearchCV

In [ ]:
param_grid-{'n_estimators' : [10,30, 50,70, 100],'max_depth' : [None, 1, 2,3],
'max_features':['auto', 'sqrt']}
rfr=RandomForestRegressor()
rf_res-RandomizedSearchCV(estimator=rfr, param distributions=param_grid, cv=3, verbose-=2, n_jobs--1)
rf_res.fit(x_train,y_train)

In [ ]:
gb-GradientBoostingRegressor()
gb_ res-RandomizedSearchcV(estinator-gb, param distributions=param grid, cv=3, verbose=2,n_jobs=-1)
gb_res.fit(x_train,y_train)

In [ ]:
rfr=RandomForestRegressor(n_estimators=18, max_features='sqrt',max_depth=None)
rfr.fit(x_train,y_train)
y_train_ pred =rfr.predict(x_train)
y_test_ pred=rfr.predict (x_test)
print("train accuracy", r2_score(y_train_pred,y_train))
print("test accuracy", r2 score(y_test pred,y_ test))

In [ ]:
knn-KleighborsRegressor(n neighbons-2,algorithm='auto',netric_ parans-None, n jobs =-1)
km.fit(x_train,y_train)
y_train_pred=knn.predict(x_train)
y_test pred-knn.predict(x_test)
print("train accuracy", r2_,score(y_train pred,y_train)
print("test accuracy", r2_score(y_test pred,y_ test)

In [ ]:
rfr-RandonForesthegressor(n estinatons-10, max features-'sant',max depth-None)
rfr.fit(x_train,y train)
y train pred-rfr.predict(x train)
Y_test_ pred-rnfr.predict(x_test)
print("train accuracy", r2,scorely_train pred,y train)
print("test accuracy',r2_score(y_test_ pred,y_test))

In [ ]:
price_list-pd. DataFrame({'Price':prices} )

In [ ]:
price_list

In [ ]:
import pickle
pickle.dump (rfr, open( "model1. pkl', 'wb'))

In [ ]:
from flask import Flask, render_template, request
import numpy as np
import pickle

In [ ]:
model = pickle. load (open (r "mode L1. pkl ", 'rb'))